*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    padding: 20px 0;
}

.container-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo{
    width: 10%;
}

ul {
    display: flex;
    position: relative;
    gap: 50px;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.button-header{
    background-color: #508901;
    border: none;
    padding: 14px 13px;
    color: white;
    border-radius: 40px;
    /*box-shadow: 2px 2px 4px 2px #508901;*/
}

.banner{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.banner img{
    width: 100%;
}

.banner-conteudo {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left:100px
}

.banner-conteudo h1 {
    font-size: 40px;
    color: white;
}
.banner .divisor{
    width: 30%;
    position: absolute;
    top: 55%;
}

.sobre{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 120px 0;
}


.sobre-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sobre-img img{
    width:40%;
    border: 10px solid #508901;
    border-radius: 50%;

}

.sobre-conteudo{
    width: 35%;
    margin-right: 50px;
}

.sobre-conteudo h2{
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 15px;
}

.sobre-topicos{
    position: relative;
    padding: 20px 0;
}

.sobre-topicos p{
    position: relative;
    left: 5%;
    top: -30px;
    width: 50%;
}

.sessao{
    background-color: #F3F1F1 ;
    position: relative;
    height: 850px;
}

.sessao img.frutas{
    width: 100%;
}

.divisor-2{
    position: absolute;
    top: -20%;
    left: 80%;
    width: 20%;
}

.sessao-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.sessao-conteudo h1{
    font-weight: 400;
    margin-bottom: 30px;
}

.fundo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:20px 0;
    width: 60%; 
    height: 50px;
    background-color: #d9d9d9; 
}

.principios{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 60px 200px;
}

.principios-intro{
    width: 50%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principios-intro p{
    width: 60%;
}

.principios-intro p:before{
    position: absolute;
    top:13%;
    content: "";
    height: 2px;
    width: 25%;
    background: #508901;
}

.principios-topicos{
    width: 50%;
    position: relative;
    height: auto;
}

.principios-topicos h1{
    font-size: 18px;
    font-weight: bold;
}

.principios-icones{
    display: flex;
    margin: 40px 0;
    gap:42px;
    align-items: center;
}

.principios-texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.principios-icones .ic:before{
    position: absolute;
    margin: 0px 66px;
    margin-top:107px;
    content: "";
    height: 80px;
    width: 2px;
    background: #508901;
}

.beneficios{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.beneficios img{
    width: 100%;
}

.beneficios-conteudo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.beneficios-conteudo p, 
.beneficios-conteudo h1{
    color: white;
    width: 35%;
}

.beneficios-conteudo h1{
    font-size: 40px;
    font-weight: 400;
}

.depoimentos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.depoimentos img{
    max-width: 100%;
}

.depoimentos-conteudos{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 180px;
}

.depoimentos-conteudos h1{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 100px;
}

.depoimentos-conteudos h1:before{
    position: absolute;
    top: 12%;
    right: 73px;
    content: "";
    height: 2px;
    width: 25%;
    background: #508901;
}

.depoimentos-slide {
    display: flex;
  }
  
  .depoimentos-slide img {
    width: 100%;
    display: none;
  }
  
  .depoimentos-conteudos button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    margin: -30px;
    top: 80%;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
.dots-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #508901;
  }

